:root {
  --dark-green: #06171d;
  --medium-green: #113d3d;
  --light-green: #015352;
  --dark-orange: #fd7d00;
  --medium-orange: #fd9d00;
  --light-orange: #ffb337;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--dark-green);
}

.container {
  display: flex;
  flex-direction: column;
}

.reversed {
  flex-direction: column-reverse;
}

.toWork,
.backHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  margin: 1rem;
  padding-top: 1rem;
  background: var(--medium-green);
  cursor: pointer;
}

.toWork h1,
.backHome h1 {
  font-size: 1.5rem;
  color: var(--light-orange)
}

.route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;



}

.route-container h2 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: mediumseagreen;
}

.countdowns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.countdownDisplay {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  background: #f4f4f4;
  width: 3rem;
  box-shadow: 2.5px 5px 5px seagreen;
  margin: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.green {
  background: #90EE90;
}

.yellow {
  background: #FFFF00;
}

.orange {
  background: #FF8C00;
}

.red {
  background: #FF0000;
}

.grey {
  background: #f4f4f4;
}

#legend {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#legend p {
  position: relative;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 3px;
}

#legend-bars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4px 6px;
  border: 3px solid var(--light-green);
  border-radius: 5px;

}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
  display: flex;
  width: 25%;
  height: 12px;
}

.bar p {
  font-size: 0.7rem !important;
  color: black !important;
}



/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .route-container h1 {
    font-size: 1rem;
  }

  .countdownDisplay {
    font-size: 1rem;
    padding: 0.5rem;
    width: 2rem;
    margin: 0.25rem;
  }
}